.btn-primary {
    background-color: $brand-yellow;
    color: #855B35;
    transition: background-color 0.3s;
    &:hover {
        background-color:#FFDC5C;
    }
}
.btn-secundary {
    border: 1px solid #00a5f0;
    background-color: transparent;
    color: $brand-light-blue;
    transition: all 0.3s;
    &:hover {
        background-color:$brand-light-blue;
        color: #FFFFFF;
    }
}
.btn-terc{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    transition: all 0.3s;
    &:hover {
        background-color:#FFFFFF;
        color: #00a5f0;
    }    
}
.btn-primary,
.btn-secundary,
.btn-terc{
    display: inline-block;
    padding: 0 2.6rem;
    border-radius: 12.2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 4.8rem;
    text-align: center;
}